<div class="container">
  <h2>Actualités</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam?</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/640/360" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titre de l'actualité</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://placebeard.it/640/360" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titre de l'actualité</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="http://placeimg.com/640/360/any" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titre de l'actualité</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>