<div class="container">
  <h2>Actualités</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam?</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blogpost in blogposts %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ blogpost.titre }}</h5>
          <p class="card-text">{{ blogpost.contenu|u.truncate(200, '...', false) }}</p>
          <a href="" class="card-meta text-decoration-none">
            <hr class="card-meta-divider">
            <p class="h6 text-uppercase text-muted mb-0 ms-auto">
              <time>Publiée le {{ blogpost.createdAt|date('d/m/Y') }}</time>
            </p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>