{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Tableau de board{% endblock %}

{% block content %}
  <div class="jumbotrom">
    <h1 class="display-4">Administration</h1>
    <p class="lead">Bienvenue dans l'interface d'administration de votre site internet</p>
  </div>
{% endblock %}
