{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ratione veritatis! Ea harum esse cum a dolorum tempora voluptatibus quod ab. Nihil impedit amet perferendis? Repellat aut aspernatur minima vitae aliquid omnis nihil sunt dolorem hic voluptas, sed nam nulla.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ratione veritatis! Ea harum esse cum a dolorum tempora voluptatibus quod ab. Nihil impedit amet perferendis? Repellat aut aspernatur minima vitae aliquid omnis nihil sunt dolorem hic voluptas, sed nam nulla.</p>
{% endblock %}